body{
    background-color:mediumslateblue;
}

.navbar{
    background-color:gray;
}

.nav-link {
    color: darkred;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    font-size: larger;
}

.logo{
    width: auto;
    height: 60px;
}

footer img{
    margin-bottom:2rem;
}

h1{
    text-align: center;
    margin:4rem 1rem 2rem 1rem;
}

h1+img{
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    font-size:xx-large;
}

p{
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    font-size:xx-large;
}

div.row{
    border-bottom:1rem;
    border-bottom-color:gray;
    border-bottom-style:solid;
    margin-bottom:4rem;
    padding-bottom:4rem;
}

address{
    text-align:center;
    font-style:italic;
}

address a{
    color:darkred;
}

.list-group-item{
    background-color:gray;
}