body {
    background-color: #b38dfb;
}

.navbar {
    background-color: #3f0071;
}

.nav-link {
    color: #FB2576;
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    font-size: larger;
}

.logo {
    width: auto;
    height: 60px;
}

footer img {
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    margin: 2rem 1rem 2rem 1rem;
    font-family: 'Magneto', 'Times New Roman', Times, serif;
    font-size: 100px;
    color: #0002A1;
}

    h1 + img {
        margin-bottom: 2rem;
        width: 400px;
        height: auto;
    }

h2 {
    text-align: center;
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    font-size: 70px;
    color: #0002A1;
    margin-bottom: 50px;
}

p {
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #0002A1;
}

div.row {
    border-bottom: 1rem;
    border-bottom-color: #3f0071;
    border-bottom-style: solid;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

div.col-md-4 img {
    margin-bottom: 100px;
}

div.col-md-4 p {
    font-size: 28px;
}

    div.col-md-4 p:first-child {
        font-size: 28px;
        text-decoration: underline;
    }

    div.col-md-4 p:last-child {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    address {
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    color: #0002A1;
}

    address a, p a {
        color: #332FD0;
    }

.list-group-item {
    background-color: #3f0071;
    color: #FB2576;
}

div.col-md-4:hover {
    background-image: url("../Images/sparkle.gif");
    background-color: black;
}

    div.col-md-4:hover p {
        color: white;
    }

.sell-list li:hover {
    background-color: #332FD0;
}

#console-dropdown {
    margin-bottom: 50px;
}

label {
    font-family: 'Lucida Console', 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #0002A1;
}

.form {
    margin-top: 50px;
}

#checkbox-div {
    padding-left: 5%;
}

#repairs-div p {
    margin-bottom: 3rem;
}

.GridViewText{
    font-weight: bold;
}

.ConsolesDropDown{
    margin-top:50px;
}